* {
    box-sizing: border-box;

}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title {
    text-align: center;
    font-family: 'Raleway';
    font-style: normal;
    color: #333333;
    justify-content: center;
    margin-right: 85px;
    font-weight: 700;
}

.taskbar {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    color: #333333;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;
    justify-content: space-evenly;
    border-bottom: 1px solid #BDBDBD;

}

.taskbar button :hover {

    border-bottom: 1px solid blue;
}

.checkBox {
    width: 24px;
    height: 24px;
    left: 4.0001220703125px;
    top: 7.00018310546875px;
    border-radius: 0px;

}

.all {
    background-color: white;
    border: 0px;
    cursor: pointer;

}

.completed {
    background-color: white;
    border: 0px;
    cursor: pointer;
}

.active {
    background-color: white;
    border: 0px;
    cursor: pointer;
}

.tab {
    border-bottom: solid #2F80ED 5px;
}

.input_div {
    margin-top: 20px;
    width: 600px;
    height: 40px;
    display: flex;
}

#t1 {
    width: 70%;
}

.active_tasks {
    margin-top: 20px;
    width: 600px;
    height: 30px;
    display: flex;
    justify-content: left;
    font-size: 20px;
    align-items: center;

}

.completed_tasks {
    margin-top: 20px;
    width: 600px;
    height: 70px;
    display: flex;
    justify-content: right;
    font-size: 20px;
    align-items: center;

}

.ct {
    margin-top: 20px;
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Montserrat';
    font-style: normal;
    font-size: 18px;
    line-height: 22px;
    font-weight: 500;
}

.comptask {
    display: flex;
    justify-content: flex-start;
}

.deleteAllButton {
    margin-top: 30px;
    /* margin-left: 520px; */
    justify-content: flex-end;
    width: 90px;
    height: 50px;
    color: white;
    border: none;
    cursor: pointer;
    border: 2px solid;
    background: #EB5757;


}

.deleteAllContainer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.all_tasks {
    margin-top: 20px;
    width: 600px;
    height: 30px;
    display: flex;
    justify-content: left;
    font-size: 20px;
    align-items: center;
}

.addtask {
    width: 79%;
    height: 100%;
    border-radius: 10px;
    border: 1px solid #BDBDBD;
    border-radius: 12px;
}

.add {
    height: 45px;
    width: 17%;
    border-radius: 10px;
    color: antiquewhite;
    size: 5 px;
    background-color: #2F80ED;
    justify-content: center;
    box-shadow: none;
    margin-left: 5px;
}

.taskss {
    margin-top: 20px;
    width: 600px;
    height: 30px;
    display: flex;
    justify-content: left;
    align-items: center;
    font-family: 'Montserrat';
    font-style: normal;
    font-size: 18px;
    line-height: 22px;
    font-weight: 500;
}

.chk {
    text-decoration: line-through;
}

.task-name {
    margin-left: 10px;
}

input[type=checkbox]:checked+label {
    text-decoration: line-through;
}

.deleteContainer {

    display: flex;
    justify-content: flex-end;
    align-items: center;
}

@media only screen and (max-width: 680px) {

    .taskbar,
    .active_tasks,
    .completed_tasks,
    .input_div,
    .all_tasks {
        width: 100%;
    }

    /* .ct {
        margin-top: 20px;
        width: 300px;
    }  */

}